<footer>
  <p>
    <a href="{{ site.github }}">{% icon "github" %}code</a>
    |
    Built <time datetime="{{ build.timestamp | formatISO }}">{{ build.timestamp | format("dd LLL yyyy") }}</time>
  </p>
</footer>